h1 {
    font-size:10vw;
    color:#FFFFFF;
    margin:10px;
}

h2 {
    color: #732761;
}

.box {
    margin: 20px;
    padding: 20px;
    background: #fa9de4;
}

.box:hover {
    background-color: #fa57d4;
    color: #000000;
}

.box2 {
    margin: 3px;
    padding: 3px;
    color: #337db5;
}